<?xml version="1.0" encoding="utf-8"?>
<module>
    <actions>
		<action name="procMaterialDelete" type="controller" />
		<action name="procMaterialInsert" type="controller" />
		<action name="dispMaterialList" type="view" />
		<action name="dispMaterialPopup" type="view" />
    </actions>
</module>
