@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* 
A CSS framework begins here. We don't recommend modifying framework. You can override these properties by defining the styles outside the framework.
여기서 부터 CSS 프레임웍 입니다. 프레임웍 수정을 권장하지 않습니다. 스킨을 변형할 때 프레임웍 밖에서 선언된 속성으로 덮어쓰기 할 수 있습니다. 
*/
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
/* Layout */
#xe{position:relative}
#container{position:relative}
#header{overflow:hidden;clear:both;position:relative;height:163px;*zoom:1}
#header:after{display:block;clear:both;content:''}
#body{clear:both;position:relative;margin-top:17px;*zoom:1}
#body:after{display:block;clear:both;content:''}
#content{overflow:hidden;position:relative;text-align:justify;*zoom:1}
#content:after{display:block;clear:both;content:''}
#footer{clear:both;position:relative;width:100%;*zoom:1}
#footer:after{display:block;clear:both;content:''}
/* Layout Width */
.fixed #container{width:943px;margin-right:auto;margin-left:auto}
.liquid #container{width:80%;margin-right:auto;margin-left:auto}
.hybrid #container{width:80%;margin-right:auto;margin-left:auto}
/* Layout Align */
.aLeft #container{margin-left:0}
.aRight #container{margin-right:0}
/* Header Extension */
/*#header .extension{position:relative;*zoom:1}
#header .extension:after{display:block;clear:both;content:''}
#header .extension *{margin:0;padding:0}
#header .extension .section{position:relative}
#header .extension ul{position:relative}
#header .extension li{display:inline;position:relative;list-style:none}
*/
/* Footer Extension */
#footer .extension{position:relative;*zoom:1}
#footer .extension:after{display:block;clear:both;content:''}
#footer .extension *{margin:0;padding:0}
#footer .extension .section{position:relative}
#footer .extension ul{position:relative}
#footer .extension li{display:inline;position:relative;list-style:none}
/* Body Extension */
#body .extension{display:none;position:relative;*zoom:1}
#body .extension:after{display:block;clear:both;content:''}
#body .extension .section{position:relative}
/* ----- Fixed 1 Column Layout ----- */
.fixed .c #body .e1{display:block;margin-right:-30px}
.fixed .c #body .e1 .section{float:left;width:300px;margin-right:30px}
/* ----- Liquid 1 Column Layout ----- */
.liquid .c #body .e1{display:block;margin-right:-3.4%}
.liquid .c #body .e1 .section{float:left;width:30%;margin-right:3.3%}
/* ----- Hybrid 1 Column Layout ----- */
.hybrid .c #body .e1{display:block;margin-right:-30px}
.hybrid .c #body .e1 .section{float:left;width:240px;margin-right:30px}
/* ----- Fixed 2 Column Layout ----- */
.fixed .ce #body .e1,
.fixed .ec #body .e1{width:220px}
.fixed .ce #body #content,
.fixed .ec #body #content{width:720px}
.fixed .ce #body #content{float:left}
.fixed .ec #body #content{float:right}
.fixed .ce #body .e1,
.fixed .ec #body .e1{display:block}
.fixed .ce #body .e1{float:right;clear:right}
.fixed .ec #body .e1{float:left;clear:left}
/* ----- Liquid 2 Column Layout ----- */
.liquid .ce #body .e1,
.liquid .ec #body .e1{width:23%}
.liquid .ce #body #content,
.liquid .ec #body #content{width:75%}
.liquid .ce #body #content{float:left}
.liquid .ec #body #content{float:right}
.liquid .ce #body .e1,
.liquid .ec #body .e1{display:block}
.liquid .ce #body .e1{float:right;clear:right}
.liquid .ec #body .e1{float:left;clear:left}
/* ----- Hybrid 2 Column Layout ----- */
.hybrid .ce #body{padding-right:280px}
.hybrid .ec #body{padding-left:280px}
.hybrid .ce #body .e1,
.hybrid .ec #body .e1{width:260px}
.hybrid .ce #body #content,
.hybrid .ec #body #content{width:100%}
.hybrid .ce #body #content{float:left}
.hybrid .ec #body #content{float:right}
.hybrid .ce #body .e1,
.hybrid .ec #body .e1{display:block}
.hybrid .ce #body .e1{float:right;clear:right;right:-280px;margin-left:-260px}
.hybrid .ec #body .e1{float:left;clear:left;left:-280px;margin-right:-260px}
/* ----- Fixed 3 Column Layout ----- */
.fixed .cee #body .e1,
.fixed .cee #body .e2,
.fixed .ece #body .e1,
.fixed .ece #body .e2,
.fixed .eec #body .e1,
.fixed .eec #body .e2{display:block;width:200px}
.fixed .cee #body #content,
.fixed .ece #body #content,
.fixed .eec #body #content{width:520px}
.fixed .cee #body #content{float:left;margin-right:20px}
.fixed .ece #body #content{float:left;left:220px;margin-right:-100%}
.fixed .eec #body #content{float:right}
.fixed .ece #body .e1,
.fixed .eec #body .e1{float:left;margin-right:20px}
.fixed .cee #body .e1,
.fixed .eec #body .e2{float:left}
.fixed .cee #body .e2,
.fixed .ece #body .e2{float:right}
/* ----- Liquid 3 Column Layout ----- */
.liquid .cee #body .e1,
.liquid .cee #body .e2,
.liquid .ece #body .e1,
.liquid .ece #body .e2,
.liquid .eec #body .e1,
.liquid .eec #body .e2{display:block;width:20%}
.liquid .cee #body #content,
.liquid .ece #body #content,
.liquid .eec #body #content{width:56%}
.liquid .cee #body #content{float:left;margin-right:2%}
.liquid .ece #body #content{float:left;left:22%;margin-right:-100%}
.liquid .eec #body #content{float:right}
.liquid .ece #body .e1,
.liquid .eec #body .e1{float:left;margin-right:2%}
.liquid .cee #body .e1,
.liquid .eec #body .e2{float:left}
.liquid .cee #body .e2,
.liquid .ece #body .e2{float:right}
/* ----- Hybrid 3 Column Layout ----- */
.hybrid .cee #body .e1,
.hybrid .cee #body .e2,
.hybrid .ece #body .e1,
.hybrid .ece #body .e2,
.hybrid .eec #body .e1,
.hybrid .eec #body .e2{display:block;width:220px}
.hybrid .cee #body{padding-right:480px}
.hybrid .ece #body{padding-right:240px;padding-left:240px}
.hybrid .eec #body{padding-left:480px}
.hybrid .cee #body #content,
.hybrid .ece #body #content,
.hybrid .eec #body #content{width:100%}
.hybrid .cee #body #content,
.hybrid .ece #body #content{float:left;margin-right:-100%}
.hybrid .eec #body #content{float:right}
.hybrid .ece #body .e1,
.hybrid .eec #body .e2{float:left;left:-240px;margin-right:-220px}
.hybrid .eec #body .e1{float:left;left:-480px;margin-right:-220px}
.hybrid .cee #body .e1,
.hybrid .ece #body .e2{float:right;left:240px;margin-left:-220px}
.hybrid .cee #body .e2{float:right;left:480px;margin-left:-220px}
/* 
A CSS framework ends here. We don't recommend modifying framework. You can override these properties by defining the styles outside the framework.
여기까지 CSS 프레임웍 입니다. 프레임웍 수정을 권장하지 않습니다. 스킨을 변형할 때 프레임웍 밖에서 선언된 속성으로 덮어쓰기 할 수 있습니다. 
*/

/* Element Reset */
body{margin:0;background:url(img/bg_body.gif) repeat-x;background-color:#fff;color:#000;font-family:arial,AppleGothic, Tahoma, Sans-serif;font-size:12px;font-weight:normal}
address{font-style:normal}
hr{display:none;position:absolute}
legend{visibility:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0}
fieldset{margin:0;padding:0;border:0}
/* Global Class */
.inputText{border:1px solid #9c9c9c;color:#666;font-family:Tahoma;border-right-color:#c2c2c2;border-bottom-color:#c2c2c2}
.inputTextarea{border:1px solid #9c9c9c;color:#666;font-family:Tahoma;line-height:1.5;border-right-color:#c2c2c2;border-bottom-color:#c2c2c2}
.inputCheck{width:13px;height:13px}
.inputRadio{width:13px;height:13px}
/* Skip To Content */
a.skipToContent{display:block;overflow:hidden;clear:both;position:relative;width:1px;height:1px;margin:0 0 -1px;text-decoration:none !important}
a.skipToContent:hover,
a.skipToContent:active,
a.skipToContent:focus{width:100%;height:auto;margin-bottom:-23px;padding:5px 0}
/* Layout */
.fixed .ce #body #content,
.fixed .ec #body #content{width:700px}
.fixed .ce #body .e1,
.fixed .ec #body .e1{width:238px}
#footer{padding:13px 0 30px;border-top:1px solid #edeeee}
/* Header */
#header a{text-decoration:none}
#header a:hover,
#header a:active,
#header a:focus{text-decoration:underline}
#header h1{position:absolute;top:56px;left:0;margin:0;padding:0}
/*#header h1 a{color:#000}
*/
#header .search{position:absolute;top:127px;right:0;width:188px;height:26px;background:url(img/bg_search.gif) no-repeat}
#header .search *{vertical-align:middle}
#header .search .inputText{width:152px;margin:6px 0 0 12px;border:none;background:none;color:#616161;font-size:12px}
#header .search .buttonSearch{position:absolute;top:6px;right:9px}
#header .search .inputText:focus{background:#fffce0}
#header .lnb{float:left;position:absolute;top:0;left:0;height:29px;background:url(img/bg_gnb.gif) no-repeat 0 0;line-height:29px}
#header .lnb ul{float:left;height:29px;margin:0 0 0 4px;padding:0;padding-right:3px;background:url(img/bg_gnb.gif) no-repeat 100% 0;line-height:29px}
#header .lnb li{display:inline;float:left;height:27px;padding:0 8px 0 7px;background:url(img/bu_v1.gif) no-repeat 100% 60%;list-style:none}
#header .lnb li a{color:#888}
#header .lnb li.last{background:none}
#header .admin{display:inline-block;position:absolute;top:0;right:0;width:55px;height:30px;padding:7px 0 0 9px;background:url(img/btn_admin.gif) no-repeat 100% -1px;color:#000;color:#888;font-size:12px}
#header .extension{overflow:hidden;position:absolute;top:120px;left:0;height:39px}
#header .extension ul{margin:0;padding:0}
#header .extension li{float:left;margin:8px 26px 0 3px;list-style:none}
#header .extension li a{display:block;background:url(img/tit_spr.gif) no-repeat}
#header .extension li.m1 a{width:55px;height:27px;background-position:0 0}
#header .extension li.m2 a{width:86px;height:27px;background-position:-75px 0}
#header .extension li.m3 a{width:38px;height:27px;background-position:-182px 0}
/*#header .extension{float:none;clear:both;padding:7px 0;border-top:3px solid #000;*zoom:1}
#header .extension:after{display:block;clear:both;content:''}
#header .extension ul{overflow:hidden;float:left;position:relative;white-space:nowrap}
#header .extension li{display:inline;float:none;position:relative;left:-20px;padding:0 20px 0 25px;background:url(img/lineVrNavigation.gif) no-repeat 0 50%;font-weight:bold}
#header .extension li a{color:#000;font-size:11px}
#header .extension li.active a{text-decoration:underline}
#header .extension form{float:right}
*/
/* Footer */
#footer{margin:57px 0 0}
#footer .sta_footer{width:943px;margin:0 auto}
#footer a{text-decoration:none}
#footer a:hover,
#footer a:active,
#footer a:focus{text-decoration:underline}
#footer address{float:left;height:16px;color:#666;font-size:9px;line-height:16px;text-align:left}
#footer address a,
#footer address acronym,
#footer address abbr{color:#666;font-weight:bold}
#footer .language{float:right;position:relative}
#footer .language button{overflow:visible;padding:0;border:0;background:none;font-size:11px;white-space:nowrap;cursor:pointer}
#footer .language .selected{height:16px;*height:18px;color:#767676}
#footer .language ul{position:absolute;right:0;bottom:20px;margin:0;padding:10px;border:1px solid #ddd;background:#fff;list-style:none}
#footer .language ul li button{color:#666}
#footer .language ul.hide{display:none}
/* Body */
#body .extension a{text-decoration:none}
#body .extension a:hover,
#body .extension a:active,
#body .extension a:focus{text-decoration:underline}
#body .extension .taday_total{height:67px;margin-bottom:13px;background:url(img/tit_spr.gif) no-repeat 0 -226px}
#body .extension .taday_total dl{margin:0;padding:4px 0 5px 6px}
#body .extension .taday_total dd{margin:0 0 0 84px;margin-top:1px;padding:0;font-size:12px;font-weight:bold;line-height:28px}
#body .extension .taday_total dd.taday{color:#a80000}
#body .extension .taday_total dd.total{color:#767676}
#body .extension .section{margin-bottom:11px;background:url(img/bg_section.gif) no-repeat 0 100%;color:#666}
#body .extension .section.category{margin-bottom:17px}
#body .extension .section h2{height:34px;margin:0;padding:0;background:url(img/tit_spr.gif) no-repeat;color:#000;font-size:12px}
#body .extension .section h2.category{background-position:0 -46px}
#body .extension .section h2.posts{background-position:0 -80px}
#body .extension .section h2.comments{background-position:0 -114px}
#body .extension .section h2.trackbacks{background-position:0 -148px}
#body .extension .section h2.tag{background-position:0 -182px}
#body .extension .section a{color:#666}
/* Content */
#content{float:left;position:relative;width:700px;margin:-6px 5px 0 0;background:url(img/bgContent.gif) repeat-y -700px 0}
#content .content_bg{padding:10px 0 0;background:url(img/bg_content_h.gif) no-repeat 0 0}
#content .main{overflow:hidden;width:630px;margin:0 auto;zoom:1}
#content .postTitle2{overflow:hidden;position:relative;padding:35px 35px 0}
#content .postTitle h2{margin:23px 0 0;padding:0 0 8px;border-bottom:1px solid #f1f1f1;color:#767676;font-family:Arial;font-size:16px}
#content .postTitle h2.border0{border-bottom:0}
#content .btm{display:inline-block;overflow:hidden;width:700px;height:80px;margin-top:-10px;margin-top:13px;background:url(img/bgContent.gif) no-repeat 0 0}
/*#content .postTitle{position:relative;margin:0 0 20px;padding:5px 0;border-bottom:1px dotted #bdbdbd;color:#000;font-size:18px}
*/#content .postTitle em{color:#1c89d2;font-style:normal}
/* 20110315 */
#content .postTitle .category{margin:0 8px 0 0;padding:0 9px 0 0;background:url(img/lineVrText.gif) no-repeat 100% 3px;color:#666;font-size:11px;font-weight:normal}
#content .postTitle a{color:#1c89d2;text-decoration:none}
#content .postTitle a:hover,
#content .postTitle a:active,
#content .postTitle a:focus{text-decoration:underline}
#content .postMeta{margin:5px 0 0;;font-size:11px; font-weight:normal}
#content .postMeta .yymmdd{color:#666}
#content .postMeta .hhmm{color:#8b8b8b}
#content .postMeta .author{margin:0 0 0 8px;padding:0 0 0 9px;background:url(img/lineVrText.gif) no-repeat 0 50%;color:#767676;font-weight:normal;text-decoration:none}
#content .postMeta a.editPost{margin-left:5px;padding:0 0 0 9px;background:url(img/lineVrText.gif) no-repeat 0 50%;color:#666;text-decoration:underline;*zoom:1}
#content .summarySpot{overflow:hidden;float:left;margin-right:1.5em !important}
#content .summaryMore{clear:both;text-align:right}
#content .summaryMore a{color:#666}
/* Feedback */
.feedback{overflow:hidden}
.feedback .feedbackTitle{overflow:hidden;margin:0;margin-top:0;padding:0;color:#3a3846;color:#616161;font-size:12px}
.sns_usedTag{overflow:hidden;margin:35px 0 15px;zoom:1}
/* sns */
.feedback .sns{float:left;margin:0;padding:0;list-style:none;*zoom:1}
.feedback .sns:after{display:block;clear:both;content:''}
.feedback .sns li{float:left;margin:0 3px 0 0;background:url(img/ico_sns.gif) no-repeat}
.feedback .sns .twitter{background-position:0 0}
.feedback .sns .me2day{background-position:-28px 0}
.feedback .sns .facebook{background-position:-58px 0}
.feedback .sns .delicious{background-position:-87px 0}
.feedback .sns a{display:block;overflow:hidden;width:25px;height:0;padding:25px 0 0}
/* usedTag */
.usedTag{float:right;height:21x;margin:0;padding:0 0 0 24px;background:url(img/ico_v1.gif) no-repeat 0 3px;font-size:11px;line-height:21px}
.usedTag:after{display:block;clear:both;content:''}
.usedTag span{display:none}
.usedTag a{color:#8b8b8b;text-decoration:none}
.usedTag a:hover,
.usedTag a:active,
.usedTag a:focus{text-decoration:underline}
/* trackback */
.trackback{margin-bottom:15px;padding:8px 0 7px 8px;border:1px solid #f3f3f3;background:#fafafa}
.feedback .feedbackTitle em{display:inline-block;margin:0 13px 0 6px;padding:0 10px 0 4px;color:#1c89d2;font-size:12px;font-style:normal}
.feedback .feedbackTitle span.trackbackURL a{color:#3a3846;font-weight:normal;text-decoration:none}
.feedback .feedbackOrder{position:relative;margin:0;padding:0;*zoom:1}
.feedback .feedbackOrder .item{position:relative;*zoom:1}
.feedback .feedbackOrder .item:after{display:block;clear:both;content:''}
.feedback.trackback .data{color:#8b8b8b}
.feedback.trackback .item{padding:15px 0;border-top:1px solid #e5e5e5;list-style:none}
.feedback.reply .feedbackOrder{overflow:hidden;margin-top:17px}
/* 20110315*/
.feedback.reply .item{margin-bottom:10px;*margin-bottom:8px;padding:0;list-style:none}
.feedback.reply .item2{overflow:hidden;padding:14px 34px 16px 16px;border:1px solid #f3f3f3;background:#f9f9f9;zoom:1}
.feedback .item.replyTarget{padding-right:10px;background-color:#f9f9f9}
.feedback .item.replyTarget .textyleContent{background-color:transparent}
.feedback .item.indent{background:url(img/bu_v4.gif) no-repeat 0 0}
.feedback .item.indent.indent1{padding-left:30px;background-position:0 2px}
.feedback .item.indent.indent2{padding-left:60px;background-position:30px 2px}
.feedback .item.indent.indent3{padding-left:90px;background-position:60px 2px}
.feedback .item.indent.indent4{padding-left:120px;background-position:90px 0}
.feedback .item.indent.indent5{padding-left:150px;background-position:120px 0}
.feedback .item.indent.indent6{padding-left:180px;background-position:150px 2px}
.feedback .item.indent.indent7{padding-left:210px;background-position:180px 2px}
.feedback .item.indent.indent8{padding-left:240px;background-position:210px 2px}
.feedback .item.indent.indent9{padding-left:270px;background-position:240px 2px}
.feedback .item.indent.indent10{padding-left:300px;background-position:270px 2px}
.feedback .item.indent.indent11{padding-left:330px;background-position:300px 2px}
.feedback .item.indent.indent12{padding-left:360px;background-position:330px 2px}
.feedback .item.indent.indent13{padding-left:390px;background-position:360px 2px}
.feedback .item.indent.indent14{padding-left:420px;background-position:390px 2px}
.feedback .item.indent.indent15{padding-left:450px;background-position:420px 2px}
.feedback .item.indent.indent16{padding-left:480px;background-position:450px 2px}
.feedback .item.indent.indent17{padding-left:510px;background-position:480px 2px}
.feedback .item.indent.indent18{padding-left:540px;background-position:510px 2px}
.feedback .item.indent.indent19{padding-left:570px;background-position:540px 2px}
.feedback .item.indent.indent20{padding-left:600px;background-position:570px 2px}
.feedback .item.indent.indent21{padding-left:630px;background-position:600px 2px}
.feedback .item.indent.indent22{padding-left:660px;background-position:630px 2px}
.feedback .item.indent.indent23{padding-left:690px;background-position:660px 2px}
.feedback .item.indent.indent24{padding-left:720px;background-position:690px 2px}
.feedback .item.indent.indent25{padding-left:750px;background-position:720px 2px}
.feedback .item.indent.indent26{padding-left:780px;background-position:750px 2px}
.feedback .item.indent.indent27{padding-left:810px;background-position:780px 2px}
.feedback .item.indent.indent28{padding-left:840px;background-position:810px 2px}
.feedback .item.indent.indent29{padding-left:870px;background-position:840px 2px}
.feedback .item.indent.indent30{padding-left:900px;background-position:870px 2px}
.feedback .date{margin:0;color:#7f7f7f;font-size:11px}
.feedback .date .hhmm{color:#8b8b8b}
/* 20110315 */
.feedback .meta{display:table-cell;float:left;width:118px;margin:0 16px 0 0;padding:0;text-align:center;*zoom:1}
.feedback .meta:after{display:block;clear:both;content:''}
.feedback .meta a{text-decoration:none}
.feedback .meta a:hover,
.feedback .meta a:active,
.feedback .meta a:focus{text-decoration:underline}
/* 20110315 */
.feedback .meta .thumb{margin:0 0 8px;padding:0}
.feedback .meta .thumb img{width:39px;height:39px;border:1px solid #c2c2c2;vertical-align:middle}
.feedback .meta .author{margin:0 0 5px;padding:0;color:#666;font-size:12px}
/* 20110315 */
.feedback .meta .author a{color:#7f7f7f}
.feedback .meta .title{margin:0;padding:0;color:#666;font-size:12px}
.feedback .meta .title a{color:#000}
.feedback .meta .ipAddress{margin:0;color:#7f7f7f;font-size:11px}
.feedback .data{display:table-cell;*float:left;clear:none;margin:0;padding:0}
.feedback .data .trackbackTitle{margin:0;color:#333;font-size:12px;font-weight:normal}
.feedback .data .trackbackTitle a{margin-right:10px;color:#333;text-decoration:none}
.feedback .data .trackbackTitle a:hover,
.feedback .data .trackbackTitle a:active,
.feedback .data .trackbackTitle a:focus{text-decoration:underline}
.feedback .data p{margin:0 !important}
.feedback .data p.secret{padding-left:15px;background:url(img/iconSecret.gif) no-repeat 0 50%;color:#8b8b8b}
.feedback .data .xe_content{width:auto !important}
.feedback .reAction{overflow:hidden;clear:both;position:relative;margin:0;padding:0;white-space:nowrap;list-style:none;*zoom:1}
.feedback .reAction:after{display:block;clear:both;content:''}
.feedback .reAction li{display:inline;position:relative;left:-5px;margin:0 10px 0 0;*margin:0 4px 0 0;padding:0 0 0 5px;color:#1c89d2;font-size:12px;vertical-align:middle;cursor:pointer;*zoom:1}
.feedback .reAction li.first{background:none}
.feedback .reAction li *{vertical-align:middle}
/* 20110315 */
.feedback .reAction li a{color:#1c89d2;font-size:12px;text-decoration:underline}
.feedback .reAction li a:hover,
.feedback .reAction li a:active,
.feedback .reAction li a:focus{text-decoration:underline}
.feedback .reAction li button{overflow:visible;padding:0;border:0;border:0;border-bottom:1px solid #999;background:transparent;color:#1c89d2;font-size:11px;font-size:12px;text-decoration:underline;cursor:pointer}
.feedback .pwForm{display:none;margin:0;padding:0}
.feedback .pwForm.active{display:block}
.feedback .pwForm *{vertical-align:middle}
.feedback .pwForm{margin:1em 0}
.feedback .pwForm .inputText{width:90px;height:12px;margin:0 -1px 0 0;padding:2px 4px 4px;font-size:11px}
.feedback .pwForm .submit{height:20px;padding:0 2px;border:1px solid #c2c2c2;border-left:0;background:#eee;font-size:11px;cursor:pointer;border-top-color:#9c9c9c}
.link{margin:44px 0 36px;border:1px solid #f3f3f3;background:#fafafa}
.reply{padding:24px 0 17px;border-bottom:1px solid #f1f1f1}
.reply h3{margin-bottom:25px}
.replyForm{position:relative}
.replyForm.guestBook{border:0}
.feedback .replyForm{top:0 !important;margin-bottom:0;padding:10px !important;background:#f9f9f9}
.replyForm *{font-size:12px}
.replyForm h3{margin:19px 0 17px;padding:0;color:#616161;font-size:14px}
.replyForm .inputTextarea{display:block;overflow:auto;width:668px !important;margin:0 0 3px;padding:5px}
.replyForm .inputTextarea:focus{background-color:#fffce0}
.feedback .replyForm .inputTextarea{width:648px !important}
.replyForm .inputText{width:135px;height:15px;padding:3px 4px;vertical-align:middle}
.replyForm .inputText:focus{background-color:#fffce0}
.replyForm .inputText.name,
.replyForm .inputText.pw{width:100px}
.replyForm .inputText.email,
.replyForm .inputText.url{width:160px}
.replyForm .inputCheck{vertical-align:middle}
.replyForm label{vertical-align:middle;cursor:pointer}
.replyForm .inputSubmit{display:block;overflow:visible;float:right;width:62px;margin:3px 0 2px;padding:8px 0;border:0;background:url(img/bg_submit.gif) no-repeat;color:#fff;font-family:Tahoma;font-weight:bold;cursor:pointer;zoom:1}
/*.replyForm .inputSubmit:hover,
.replyForm .inputSubmit:active,
.replyForm .inputSubmit:focus{}
*/
.replyForm strong.name{margin:0 10px 0 0;color:#616161}
.replyForm span.email{margin:0 10px 0 0;color:#8b8b8b;font-size:11px}
.replyForm span.url{margin:0 10px 0 0;color:#8b8b8b;font-size:11px}
/* Pagination Reset */
.pagination{padding:4px 0 15px;text-align:center;*zoom:1}
.pagination:after{display:block;clear:both;content:''}
.pagination *{margin:0;padding:0}
.pagination img{border:0}
.pagination a,
.pagination strong{display:inline-block;position:relative;color:#000;font-family:Tahoma, Sans-serif;line-height:normal;text-decoration:none;vertical-align:middle}
.pagination strong{color:#f60 !important}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{margin:0 !important;border:none !important;font-weight:normal !important;white-space:nowrap}
/* Pagination Number */
.pagination.paginationNum{margin-top:-1px;background:#fff;font-size:11px}
.pagination.paginationNum a{display:inline-block;height:22px;margin-right:6px;padding-left:11px;background:url(img/bg_pag.gif) no-repeat 0 0;color:#8f8f8f;line-height:22px;vertical-align:middle}
.pagination.paginationNum a span{display:inline-block;height:22px;padding-right:11px;background:url(img/bg_pag.gif) no-repeat 100% 0;line-height:22px;cursor:pointer}
.pagination.paginationNum strong,.pagination.paginationNum strong span{background:url(img/bg_pag.gif) no-repeat}
.pagination.paginationNum strong{display:inline-block;height:22px;margin-right:6px;padding-left:11px;background-position:0 -22px;line-height:22px}
.pagination.paginationNum strong span{display:inline-block;height:22px;padding-right:11px;background-position:100% -22px;color:#fff;line-height:22px}
.pagination.paginationNum a.prev{margin:0 7px 0 0 !important;padding:0 22px 0 0;background:url(img/ico_v2.gif) no-repeat 100% -20px}
.pagination.paginationNum a.next{margin:0 0 0 5px !important;padding:0 0 0 17px;background:url(img/ico_v2.gif) no-repeat 0 9px}
/* Pagination Post */
.pagination.paginationPost a.prev,
.pagination.paginationPost a.next{display:block;padding:2px 0;background-color:transparent !important;background-repeat:no-repeat;color:#8b8b8b;font-weight:bold !important;white-space:normal}
.pagination.paginationPost a.prev{float:left;left:-7px;margin:0;padding-left:25px;background-image:url(img/buttonPaginationPrev.gif);background-position:0 7px;text-align:left}
.pagination.paginationPost a.next{float:right;right:-7px;margin:0;padding-right:25px;background-image:url(img/buttonPaginationNext.gif);background-position:100% 7px;text-align:right}
.pagination.paginationPost a:hover,
.pagination.paginationPost a:active,
.pagination.paginationPost a:focus{color:#f60;text-decoration:underline}
/* WidgetTree */
.widgetTree{margin:0 15px;padding:14px 0 9px}
.widgetTree *{margin:0;padding:0;color:#cacaca;font-size:12px}
.widgetTree .all{padding:0 0 0 15px;background:url(img/lineTree.gif) no-repeat -10px -2px;font-weight:bold}
.widgetTree .sum{font-weight:bold}
.widgetTree a strong{letter-spacing:-1px;cursor:pointer}
.widgetTree ul{display:block;position:relative;margin:0;padding:10px 0 0;zoom:1}
.widgetTree ul li{position:relative;margin:0;padding:0 0 9px 15px;background:url(img/lineTree.gif) no-repeat -10px -2px;white-space:nowrap;list-style:none}
.widgetTree ul li li{padding-left:25px;background-position:0 0}
.widgetTree ul li li.nav_tree_last{background-position:0 -1762px}
.widgetTree ul li .sum{font-weight:normal}
.widgetTree ul li em{font-style:normal}
.widgetTree ul li button{display:none}
.widgetTree ul li ul{margin:0 0 -10px -10px;background:url(img/lineTree.gif) no-repeat -399px 0}
.widgetTree ul li.active a{text-decoration:underline !important}
.widgetTree ul li.active li,
.widgetTree ul li.active li a,
.widgetTree ul li.active li .sum{color:#cacaca;font-weight:normal}
.widgetTree .icon{position:relative;left:16px}
/* archive items */
.widgetA{margin:0 0 0 5px;padding:14px 10px 16px 7px;list-style:none}
.widgetA li{margin:0 0 3px;padding:0 0 0 10px;background:url(img/bu_v2.gif) no-repeat 0 9px}
.widgetA li .replyNum,
.widgetA li .replyNum a{color:#ff1a1a !important}
.widgetA li .trackbackNum,
.widgetA li .trackbackNum a{color:#19a0ff !important}
/* widgetTagCloud */
.widgetTagCloud{overflow:hidden;margin:0;padding:13px 0 14px 14px;font-size:12px;line-height:1.5;text-align:justify;zoom:1}
.widgetTagCloud li{float:left;width:61px;margin-right:12px;list-style:none}
.widgetTagCloud li a{white-space:nowrap}
.widgetTagCloud li.level4 a{color:#888 !important;font-size:12px}
.widgetTagCloud li.level3 a{color:#666 !important;font-size:12px}
.widgetTagCloud li.level2 a{color:#444 !important;font-size:12px;font-weight:bold}
.widgetTagCloud li.level1 a{color:#000 !important;font-size:14px;font-weight:bold}
/* Tag Cloud */
.tagCloud{margin:15px 0 10px;padding:0;font-size:12px;line-height:1.5;text-align:justify}
.tagCloud li{display:inline;white-space:nowrap;list-style:none; margin-right:7px;}
.tagCloud li.level1 a{color:#888;font-size:12px}
.tagCloud li.level2 a{color:#666;font-size:14px}
.tagCloud li.level3 a{color:#444;font-size:18px;font-weight:bold}
.tagCloud li.level4 a{color:#000;font-size:24px;font-weight:bold}
.tagCloud li a{text-decoration:none}
.tagCloud li a:hover,
.tagCloud li a:active,
.tagCloud li a:focus{text-decoration:underline}
/* Search Result */
/* 20110315 */
.searchResult{overflow:hidden;position:relative;margin:19px 0 0;padding:0;list-style:none}
.searchResult li{position:relative;top:1px;*zoom:1}
.searchResult li a{color:#000;color:#1c89d2;font-size:16px;text-decoration:none}
.searchResult li a:hover,
.searchResult li a:active,
.searchResult li a:focus{text-decoration:underline}
.searchResult li .date{position:absolute;top:4px;right:0;margin:0;padding:0;color:#8b8b8b;font-size:11px}
.searchResult li .date span{display:inline-block;padding:0 8px;background:url(img/lineVrText.gif) no-repeat 100% 50%}
.searchResult li .date span.prev{padding-left:0}
.searchResult li .date span.last{padding-right:0;background:none}
.searchResult .tit{margin-bottom:9px;padding-bottom:4px;border-bottom:1px solid #f4f4f4}
.searchResult .txt_content{margin:19px 0 36px;color:#767676;font-size:12px}
/* textyleContent */
.textyleContent{overflow:auto;margin-top:15px;font-size:12px;*zoom:1}
.textyleContent h1{font-size:24px}
.textyleContent h2{font-size:20px}
.textyleContent h3{margin:0 0 17px;padding:0;color:#616161;font-family:Arial;font-size:16px}
.textyleContent h4{margin:17px 0;padding:0;color:#616161;font-family:Arial;font-size:14px}
.textyleContent h5{margin:17px 0;padding:0;color:#616161;font-family:Arial;font-size:12px}
.textyleContent h6{margin:17px 0;padding:0;color:#616161;font-family:Arial;font-size:12px}
/* Attached File */
.textyleContent dl.attachedFile{position:relative;margin:36px 0 0;padding:0;border:1px solid #eee;background:#f9f9f9}
.textyleContent dl.attachedFile dt{background:#fff url(img/ico_zip.gif) no-repeat 0 50%;font-size:12px;font-weight:bold;text-indent:1em}
.textyleContent dl.attachedFile em{margin:0 5px;font-size:11px;font-weight:normal;font-style:normal}
.textyleContent dl.attachedFile dd{margin:0;padding:0 2em;color:#8b8b8b;font-size:11px}
.textyleContent dl.attachedFile dd a{margin-right:10px;color:#0092cf;text-decoration:none}
.textyleContent dl.attachedFile dd a:hover,
.textyleContent dl.attachedFile dd a:active,
.textyleContent dl.attachedFile dd a:focus{text-decoration:underline}
/* Table Of Content */
.textyleContent .toc{position:relative;margin:0;margin:0 0 35px;padding:15px;border:1px solid #f2f2f2;background:#fafafa;font-size:14px;line-height:1.6;*zoom:1}
.textyleContent .toc li{margin-left:35px;background:url(img/bu_v3.gif) no-repeat 0 50%;color:#555;font-size:14px;font-weight:bold;list-style:none}
.textyleContent .toc li.toc3{}
.textyleContent .toc li.toc4{margin-left:55px}
.textyleContent .toc li.toc5{margin-left:75px}
.textyleContent .toc li a{margin-left:15px;color:#1c89d2;font-weight:normal;text-decoration:none}
.textyleContent .toc li a:hover,
.textyleContent .toc li a:active,
.textyleContent .toc li a:focus{text-decoration:underline}
/* Object */
.textyleContent object{margin:1em 0}
/* Horizontal Rule */
.textyleContent hr{display:block;overflow:hidden;clear:both;position:static;height:1px;border-bottom:0;color:#e2e2e2}
/* Blockquote */
.textyleContent blockquote{margin:1em 0;padding:1em 2em;background:#f6f6f6;-moz-border-radius:5px;-webkit-border-radius:5px}
/* Cite */
.textyleContent cite{display:block;margin:1em 0}
/* Link */
.textyleContent .xe_dr_link p strong{display:block}
/* P */
.textyleContent p{margin:0;padding:0;color:#767676;font-family:Arial, Helvetica, sans-serif;font-size:12px}
/* More | Less */
.fold_button{margin:1em 0;text-align:left}
.fold_button button{overflow:visible;padding:0;border:0;background:none;color:#20c;font-size:12px;cursor:pointer}
.fold_button button:before{content:'» '}
/* Me2day Widget */
.me2day_daily_digest{line-height:1.5}
.me2day_daily_digest ul{margin-left:0;padding-left:0;list-style:none}
.me2day_daily_digest li{clear:both;position:relative;margin-bottom:1em;padding:0 0 16px 45px;background:url(img/iconMe2day.gif) no-repeat 0 0;*zoom:1}
.me2day_daily_digest .me2_tags{display:block;margin:0;padding:5px 0 5px 30px;background:url(img/iconMe2tag.gif) no-repeat 0 5px;color:#767676;font-size:11px;line-height:1.2}
.me2day_daily_digest .datetime{display:none;position:absolute !important;bottom:2px;color:#66c;font:11px/1 Tahoma;text-decoration:none;white-space:nowrap}
.me2day_daily_digest li:hover .datetime{display:block}
.me2day_daily_digest a:hover,
.me2day_daily_digest a:active,
.me2day_daily_digest a:focus{text-decoration:underline}
